.example-card {
  max-width: 400px;
  min-width: 400px;
  min-height: 400px;
  max-height: 400px;
  background-color: #673ab7;
}
.center {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
}

.input {
  padding-right: 1%;
}
