<div class="center">
  <h1></h1>
  <form [formGroup]="resForm" (ngSubmit)="onSubmitDate()">
    <mat-form-field class="input">
      <mat-label>Year</mat-label>
      <input type="year" matInput formControlName="year" placeholder="year">
      </mat-form-field>
        <mat-form-field class="input">
        <mat-label>Month</mat-label>
        <input type="month" matInput formControlName="month" placeholder="month">
        </mat-form-field>
      <mat-form-field class="input">
      <mat-label>Day</mat-label>
      <input type="day" matInput formControlName="day" placeholder="day">
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="submit">Envoyer</button>
    </div>
  </form>
</div>
<mat-grid-list cols="3">
  <mat-grid-tile  *ngFor="let a of img">
    <mat-card class="example-card" >

         <h1 class="title">Photos n°{{a.id}}</h1>

      <img mat-card-image [src]="a.img_src" alt="Photo" width="400" height="400">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
