.example-card {
  max-width: 700px;
  justify-content: center;
  margin-left: 25%;
  margin-bottom: 2%;
}
.center {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.h1 {
  width: 25%;
  margin-top: 2%;
  margin-left: 36%;
  text-align: center;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
}

.input {
  padding-right: 1%;
}
