<mat-card class="h1">
  <h1>Search Astronomy picture</h1>
</mat-card>
<div class="center">
    <h1></h1>
    <form [formGroup]="resForm" (ngSubmit)="onSubmitDate()">
      <mat-form-field class="input">
        <mat-label>Year</mat-label>
        <input type="year" matInput formControlName="year" placeholder="year">
        </mat-form-field>
          <mat-form-field class="input">
          <mat-label>Month</mat-label>
          <input type="month" matInput formControlName="month" placeholder="month">
          </mat-form-field>
        <mat-form-field class="input">
        <mat-label>Day</mat-label>
        <input type="day" matInput formControlName="day" placeholder="day">
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" type="submit">Envoyer</button>
      </div>
    </form>
  </div>
  <mat-card class="example-card" *ngIf="flag">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle>  {{ dateimg }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="imghd" alt="Photo">
    <mat-card-content>
      <p>
        {{ explanation }}
      </p>
    </mat-card-content>
  </mat-card>
  <!-- <mat-grid-list cols="3">
    <mat-grid-tile  *ngIf="flag">
      <mat-card class="example-card" >
           <h1 class="title">Photos n°{{ title }}</h1>
            <img mat-card-image [src]="imghd" alt="Photo" width="400" height="400">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->
